@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

.NavbarContainer {
    background-color: #0B3954;
    padding: 10px 0;
  }
  
  .App-header {
    background-color: #0B3954;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: calc(25px + 2vmin);
    color: white;
    font-family: 'Iceland', cursive;
  }
  
  .NavLinks {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .NavLinks li {
    margin: 0 20px;
  }
  
  .NavLinks a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: Calibri, sans-serif;
  }
  
  .NavLinks a:hover {
    color: #ddd;
  }
  