.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0B3954;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Navbar {
  background-color: #847E89;
  overflow: hidden;
}

.NavLinks {
  display: flex;
  padding: 10px;
  margin: 10px;
  list-style-type: none;
  justify-content: center;
}

.NavLinks li {
  padding: 14px 20px;
}

.NavLinks li a {
  text-decoration: none;
  padding: 8px 16px;
}

.NavLinks li a:hover {
  background-color: #ddd;
  color: black;
}

main{
  padding: 20px;
}

.App-link {
  color: #087E8B;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
